.RegisterMainContainer {
    /* border: 1px solid red; */
    /* height: 100vh; */
}

.register_waveImg {
    width: 100%;
}

.register_Logo_img {
    width: 30%;
    margin: auto;
}

.register_main_container {
    /* border: 1px solid red; */
    width: 35%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 100px;
}

.register_main_container>p {
    color: #7d6224;
    font-size: 13px;
    /* font-family: MierB-Regular; */
    font-weight: 500;
    letter-spacing: 3px;
}

.register_social_img_con {
    margin-top: 10px;
    margin-bottom: 20px;
    /* border: 1px solid green; */
    display: flex;
    gap: 10px;

}

.register_social_img_con>div {
    /* border: 1px solid red; */
    border-radius: 5px;
    width: 40px;
    padding: 3px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.register_social_img_con>div>img {
    width: 100%;
}

.register_social_img_con>div>svg {
    font-size: 35px;
}

.register_social_img_con>div:last-child svg {
    font-size: 35px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 2px;
}

.register_main_container>p:nth-child(4) {
    /* border: 1px solid red; */
    margin-top: 10px;
}

.Register_input_box_div {
    /* border: 1px solid red; */
    margin-top: 30px;
}

.Register_input_box_div>input {
    width: 100%;
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-bottom: 10px;
    outline: none;
    padding-left: 4px;
    font-size: 14px;
}

.Register_input_box_div>select {
    color: grey;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px solid green;
    margin-bottom: 20px;
    height: 30px;
    outline: none;
}

.register_password {
    display: grid;
    grid-template-columns: repeat(3, 90% 5% 5%);
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
}

.register_password>div {
    display: flex;
    align-items: center;

    justify-content: center;
}

.register_password>input {
    padding-bottom: 10px;
    outline: none;
    padding-left: 4px;
    font-size: 14px;
}

.register_agree_btn {
    display: flex;
    gap: 10px;
}

.register_agree_btn>p {
    font-size: 14px;
}

.register_agree_btn a {
    font-size: 14px;
    color: orange;
}

.signup_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.signup_btn>button {
    width: 30%;
    background-color: maroon;
    color: white;
    padding: 10px 20px;
}

.signup_btn>button:hover {
    background-color: #f89a1b;
}

.signup_disable {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.signup_disable>button {
    width: 30%;
    background-color: grey;
    color: white;
    padding: 10px 20px;
}

.Register_login_btn {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #f7f4eb;
    padding: 10px 0px;
    gap: 20px;
    margin-top: 20px;
}

.Register_login_btn>p {
    font-size: 16px;
    color: #9f813f;
}

.Register_login_btn a {
    text-decoration: underline;
    color: #b66162;
}



@media (max-width:1180px) {
    .RegisterMainContainer {
        /* border: 1px solid red; */

    }

    .register_main_container {
        /* border: 1px solid green; */
        width: 70%;
    }
}

@media (max-width:770px) {
    .register_main_container {
        /* border: 1px solid green; */
        width: 95%;
    }
}