.cartPageLogo {
    margin: auto;
    padding: 15px 0px;
    width: 300px;
    cursor: pointer;
}

.heading {
    background-color: #FFF3DD;
    font-size: 40px;
    color: #535353;
    font-family: 'Times New Roman', Times, serif;
    padding: 15px 4%;
}

.cartContainer {
    /* border: 1px solid darkblue; */
    display: flex;
    padding: 20px;
    gap: 20px;
    justify-content: space-between;
}

.cardContainer {
    /* border: 1px solid black; */
    width: 67%;
}

.cardContainerTableHeading {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 15% 25% 15% 15% 15% 15%;
    padding: 5px 10px;
    font-size: small;
    font-weight: 500;
    background-color: #F9F5EA;
    margin-bottom: 15px;
}

.cardContainerTableHeading p:nth-child(5) {
    /* border: 1px solid hotpink; */
    text-align: center;
}

.cardContainerTableHeading p:nth-child(6) {
    /* border: 1px solid hotpink; */
    text-align: center;
}

.TotalcartCard {
    /* border: 1px solid rgb(108, 158, 108); */
    padding: 5px;
    margin-bottom: 15px;
    background-color: #F9F5EA;
    color: #272727;
}

.cartCard {
    /* border: 1px solid lime; */
    display: grid;
    grid-template-columns: 11% 29% 15% 15% 15% 15%;
}

.cartCard~div {
    padding: 5px 5px 5px 12%;
    font-size: small;
    cursor: pointer;
}

.cartCard>div {
    border-bottom: 1px solid #E5DECF;
}

.cartCard>div:last-child {
    text-align: center;
}

.cartCard>div:nth-child(1) {
    border: none;
}

.cartCard>div:nth-child(2) {
    margin-left: 4%;
}

.cartCard>div:nth-child(2) p {
    font-size: small;
}

.cartCard>div:nth-child(4) p {
    border: 1px solid #CED4DA;
    padding: 5px 5px 5px 10px;
    width: 80%;
}

.cartCard>div:nth-child(5) div {
    border: 1px solid #CED4DA;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.cartCard>div:nth-child(5) div button {
    /* border: 1px solid firebrick; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #A98F58;
}

.cartCard>div:nth-child(5) div button:nth-child(2) {
    cursor: text;
    color: #900C19;
}


.processing {
    cursor: progress;
}

.processingforDE {
    cursor: progress;
}

.paymentContainer {
    /* border: 1px solid rgb(0, 247, 255); */
    width: 28%;
}

.paymentContainer h2 {
    font-size: larger;
    font-weight: 500;
}

.paymentContainer>div {
    display: flex;
    justify-content: space-between;
    padding: 10px 0px;
    border-bottom: 1px solid #E5DECF;
    color: #42515B;
}

.paymentContainer p {
    font-size: small;
}

.paymentContainer>div:nth-child(5) {
    border-top: 1px solid #E5DECF;
    border-bottom: none;
}

.paymentContainer h2:nth-child(4) {
    color: #900C19;
    text-decoration: underline;
    margin: 10px 0px;
}

.paymentContainer span {
    font-size: smaller;
}

.paymentContainer button {
    background-color: #900C19;
    color: white;
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: space-between;
}
.paymentContainer button:hover{
    background-color: gray;
    transition: all 700ms;
}
.paymentContainer button p {
    font-size: medium;
}

.cardForMidScreen {
    display: none;
}

.processforRemove {
    cursor: progress;
}

@media (max-width:1000px) {
    .cartContainer {
        flex-direction: column;
    }

    .cardContainer {
        width: 100%;
    }

    .paymentContainer {
        width: 100%;
    }

    .paymentContainer button {
        position: fixed;
        bottom: 0px;
        left: 0;
        right: 0;
    }

    .paymentContainer button p {
        font-size: larger;

    }

    .cartCard {
        /* border: 1px solid khaki; */
        display: none;
    }

    .cardContainer .cardForMidScreen {
        /* border: 1px solid rebeccapurple; */
        padding: 0px;
        display: grid;
        grid-template-columns: 20% 80%;
    }

    .cardForMidScreen>div:nth-child(2) {
        padding-left: 3%;
    }

    .cardForMidScreen p:nth-child(3) {
        border: 1px solid #CED4DA;
        padding: 5px 20px;
        display: inline-block;
    }

    .cardForMidScreen div:nth-child(4) {
        border: 1px solid #CED4DA;
        display: inline-block;
        margin: 10px 10px;
    }

    .cardForMidScreen div button {
        padding: 5px 10px;
    }

    .cardContainerTableHeading {
        display: none;
    }

    .cardForMidScreen~div {
        padding-left: 23%;
    }

    .cardForMidScreen div:nth-child(2) {
        border-bottom: 1px solid #CED4DA;
    }

}