.IntroDiv>img:nth-child(2) {
    display: none;

}

.IntroDiv {
    cursor: pointer;
}

.Womenheading {
    font-size: 45px;
    color: #AA8531;
    display: block;
    text-align: center;
    line-height: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin: 20px 0px;
}

.engagementToreception {
    /* border: 1px solid blue; */
    display: grid;
    width: 85%;
    margin: 40px auto 50px auto;
    gap: 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.engagementToreception>img {
    border: 1px solid #AA8531;
    padding: 3px;
    cursor: pointer;
}

.headingImgs {
    width: 100%;
    margin: 30px 0px;
}

.collectiblesTitle {
    display: none;
}

.collectibles {
    /* border: 1px solid green; */
    width: 86%;
    display: flex;
    margin: auto;
}

.collectibles div:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.collectibles>div:nth-child(2) h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #3C3F41;
}

.collectibles>div:nth-child(1) img:nth-child(2) {
    display: none;
}

.collectibles>div:nth-child(3) img:nth-child(2) {
    display: none;
}

.collectiblesTitle {
    display: none;
}

.taiyaarHokarAiyeBackground {
    /* border: 1px solid red; */
    height: 520px;
    width: 85%;
    margin: auto;
    background-image: url('https://static01.manyavar.com/uploads/images/journy_bg_strip.png');
    background-color: #F3ECDB;
    text-align: center;
    font-size: 35px;
    font-weight: 600;
    padding-top: 30px;
    color: maroon;
    font-family: 'Times New Roman', Times, serif;
}

.taiyaarHokarAiyeImg {
    width: 65%;
    margin: auto;
    position: relative;
    bottom: 400px;
    left: 0;
    right: 0;
    margin-bottom: -350px;
}

@media (max-width:760px) {
    .IntroDiv>img:nth-child(1) {
        display: none;
    }

    .IntroDiv>img:nth-child(2) {
        width: 100%;
        display: flex;
    }

    .engagementToreception {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        row-gap: 10px;
    }

    .engagementToreception>img {
        width: 100%;
    }

    .collectiblesTitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* gap: 10px; */
        margin-bottom: 20px;
    }

    .collectiblesTitle h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        color: #3C3F41;
    }

    .collectiblesTitle p {
        letter-spacing: 2px;
        margin-top: 10px;
        text-align: center;
    }

    .collectibles {
        width: 100%;
        margin: 0px;
    }

    .collectibles div {
        /* border: 1px solid hotpink; */
        width: 50%;
    }

    .collectibles div img {
        width: 100%;
    }

    .collectibles>div:nth-child(2) {
        display: none;
    }

    .collectibles>div:nth-child(1) img:nth-child(1) {
        display: none;
    }

    .collectibles>div:nth-child(1) img:nth-child(2) {
        display: flex;
    }

    .collectibles>div:nth-child(3) img:nth-child(1) {
        display: none;
    }

    .collectibles>div:nth-child(3) img:nth-child(2) {
        display: flex;
    }

    .collectiblesTitle {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        /* gap: 10px; */
        margin-bottom: 20px;
    }

    .collectiblesTitle h2 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 50px;
        color: #3C3F41;
    }

    .collectiblesTitle p {
        letter-spacing: 2px;
        margin-top: 10px;
        text-align: center;
    }

    .taiyaarHokarAiyeBackground {
        width: 100%;

    }
}

@media (max-width:400px) {
    .taiyaarHokarAiyeBackground {
        font-size: 20px;
    }
}