* {
    margin: 0px;
    padding: 0px;
}

.hamburderNavbarContainer {
    /* border: 1px solid blue; */
    display: none;
    padding: 10px;
    justify-content: space-between;
    background-color: #FFFBF2;
}

.hamburderNavbarContainer>div {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: #696866;
    gap: 7px;
}



.closeBtn {
    position: absolute;
    left: 10px;
    margin-top: 10px;
    color: #696866;
}

.Drowerbody {
    /* border: 1px solid green; */
    display: flex;
}

.Drowerbody>div {
    /* border: 1px solid rgb(9, 0, 128); */
    width: 50%;
    padding-bottom: 30px;
}

.Drowerbody>div:nth-child(1) {
    background-color: #F7F3EB;
    color: #626460;
    padding: 20px;
    font-weight: 350;
    font-size: 13px;
    line-height: 40px;
    /* border: 1px solid blue; */
    height: 90vh;
}


.Drowerbody .mainContainerOfsubMenueHB {
    padding: 20px;
    background-color: #F0E7D4;
    overflow: auto;
    font-weight: 350;
    font-size: 14px;
    line-height: 25px;
    color: black;
    /* border: 1px solid red; */
    height: 90vh;
}

.Drowerbody .mainContainerOfsubMenueHB h3 {
    font-weight: 500;
    margin: 10px 0px;
}

.socialMediainHB {
    /* border: 1px solid red; */
    display: flex;
    font-size: 30px;
    gap: 10px;
    flex-wrap: wrap;
    color: #C39931;
    margin-top: 15px;
}


.hamburderNavbarContainer img {
    width: 60%;
}

.normalNavbarContainer {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px 10px;
    background-color: #FFFBF2;
    width: 100%;
    z-index: 100;
}

.headingLogoContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #FFFBF2;
}

.headingLogoContainer>img {
    margin: 17px auto;
    width: 300px;

}

.headingLogoContainer>div:last-child {
    display: flex;
    /* border: 1px solid hotpink; */
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    gap: 10px;
    color: #696866;
    padding-right: 10px;
}

.normalNavbarContainer h2 {
    /* border: 1px solid green; */
    cursor: pointer;
}

.normalNavbarContainer>div:nth-child(2) {
    /* border: 1px solid blue; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    padding: 0px 20px;
}


.normalNavbarContainer>div:first-child {
    /* border: 1px solid rgb(13, 84, 58); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.normalNavbarContainer>div:last-child {
    /* border: 1px solid rgb(0, 255, 162); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
    gap: 10px;
    color: #696866;
}


.normalNavbarContainer>div>img {
    width: 6.5%;
    z-index: 3;
    margin: 2px 0px 2px 30px;
}

.dropDownMainMenue {
    /* border: 1px solid green; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    color: #3F3F3F;
}

.dropDownMainMenue p {
    cursor: pointer;
}

.dropDownMainMenue p:hover {
    color: rgb(99, 1, 1);
}

.headingFromSubmenue {
    font-weight: bold;
}

.subMenue .headingFromSubmenue:hover {
    color: #3F3F3F;
}

.subMenue .normalSubmenue:hover {
    color: #E04C19;
}

.subMenue {
    /* border: 1px solid blue; */
    border-top: 20px solid #FFFBF2;
    text-align: left;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    left: 0;
    right: 0;
    padding: 40px 50px;
    background-color: #FFF3DD;
    line-height: 26px;
    font-weight: 400;
    z-index: 2;
}

.submenueImagesContainer {
    /* border: 1px solid green; */
    width: 60%;
    position: absolute;
    right: 0;
    margin-top: 25px;
    display: flex;
    gap: 2%;
}

.submenueImagesContainer img {
    margin: 15px;
    width: 43%;
}

#PaddingForWomenSubmenue {
    padding-bottom: 145px;
}

#PaddingForKidsSubmenue {
    padding-bottom: 170px;
}

#PaddingForAccessoriesSubmenue {
    padding-bottom: 65px;
}

.Nav_userIcon_div {
    /* border: 1px solid red; */
    display: flex;
}

.nav_user_tick {
    /* border: 1px solid goldenrod; */
    position: absolute;
    margin-left: 10px;
    margin-top: 2px;

}

@media (max-width:1200px) {
    .menSubmenueImagesContainer {
        width: 65%;
    }
}

@media (max-width:1000px) {
    .normalNavbarContainer {
        display: none;
    }

    .headingLogoContainer {
        display: none;
    }

    .hamburderNavbarContainer {
        display: flex;
    }
}

@media (max-width:500px) {
    .DrowerHeader {
        margin-bottom: -1%;
        top: 5px;
    }

    .socialMediainHB {
        font-size: 22px;
    }
}

@media (max-width:417px) {
    .DrowerHeader {
        margin-bottom: -2%;
    }

    .closeBtn {
        margin-top: 3px;
    }

}

@media (max-width:400px) {
    .DrowerHeader {
        margin-bottom: -4%;
    }
}

@media (max-width:390px) {
    .DrowerHeader {
        margin-bottom: -3.7%;
    }
}

